@{
    ViewData["Title"] = "Inicio Page";
}
<br />
<div class="text-center">
    <h1 class="display-4">Bienvenido al ChatBot AILM</h1>
    <br />
    <br />
    <br />
      <h3 class="display-4">Hablar con el Bot</h3>
    <br />
     <a class="navbar-brand" asp-area="" asp-controller="Mensajes" asp-action="irChat"><img width="150" height="150" src="img/transparent-robot-icon-engineering-icon-5ff27e7e02f2a6.5144679416097276140121.png" /></a>
</div>
