html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("https://img.freepik.com/free-vector/handmade-whte-paper-texture_125540-947.jpg?w=2000");
}